# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Generated build files
client/stdoutsub
client/tiva_build

# Generated-Files while setting up the embedded-environment
embedded-flash-environment/bin/
embedded-flash-environment/gcc-arm-none-eabi-4_9-2015q2/
embedded-flash-environment/lm4tools/
embedded-flash-environment/openocd/
embedded-flash-environment/share/
embedded-flash-environment/tiva-template/
embedded-flash-environment/tivaware/

client/subscriber.sh
client/publisher.sh

client/tiva_tm4c123gxl_blinky/tiva_build/
client/src/communication/fs/tiva_tm4c123gxl_serial_uart/tiva_build/
