# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.lst

# Debug files
*.dSYM/

# Generated build files
client/stdoutsub
client/tiva_build

# Generated-Files while setting up the embedded-environment
third_party/ti-compiler-environment
third_party/openat
third_party/stm32f0-environment/stlink

subscriber.sh
filetester.sh
publisher.sh
diff.sh
move_files.sh

config.txt
config.txt_local_testing
config.txt_filetester


build/
tiva_cross_compilation_checks/
lwip/
lwip-contrib/

device/ar501
device/maestro-e220
device/maestro-m100-3g
device/pi
device/lanner-pc
device/windows-embedded
device/test_device

common/apps/atoll-gms
common/apps/energy-meter
common/apps/generator-monitoring
common/apps/generator-monitoring-plus-energy-meter
common/apps/generator-monitoring-plus-energy-meter-plus-gps-monitoring
common/apps/gps
common/apps/lanner-pc-wwan-interface-monitor

common/ioeye
common/ioeye-c
