# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Generated build files
client/stdoutsub
client/tiva_build

# Generated-Files while setting up the embedded-environment
third_party/ti-compiler-environment/bin/
third_party/ti-compiler-environment/gcc-arm-none-eabi-4_9-2015q2/
third_party/ti-compiler-environment/lm4tools/
third_party/ti-compiler-environment/openocd/
third_party/ti-compiler-environment/share/
third_party/ti-compiler-environment/tiva-template/
third_party/ti-compiler-environment/tivaware/

subscriber.sh
filetester.sh
publisher.sh
diff.sh
move_files.sh

config.txt
config.txt_local_testing
config.txt_filetester


build/
tiva_cross_compilation_checks/
lwip/
lwip-contrib/

device/ar501
device/test_device

common/apps/atoll-gms
common/apps/energy-meter
common/apps/generator-monitoring
common/apps/generator-monitoring-plus-energy-meter
common/apps/generator-monitoring-plus-energy-meter-plus-gps-monitoring
common/apps/gps

common/ioeye
common/ioeye
